%unstyled-list {
  list-style-type: none;
  padding-left: 0;
}


.vlist {
  @extend %unstyled-list;

  > * {
    display: block;
  }
}

.hlist {
  @extend %unstyled-list;

  @include horizontal;

  > * {
    float: left;
  }
}

.inline-list {
  display: block;
  padding-left: 0;

  li {
    display: inline;
    padding: 0 10px;
  }

  &-left, &-right {
    @extend .inline-list;
    text-align: right;
  }
}

.inline-block-list {
  @extend .inline-list;

  li {
    display: inline-block;
  }
}